.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60px;
    background-color: #000000;
}

.logo {
    width: 200px;
}

.logo-container {
    position: absolute;
    left: 20px;
}

.nav-list {
    list-style-type: none;
}

.nav-list .list-item {
    display: inline-block;
    padding: 30px;
}

.toolbar a {
    text-decoration: none;
    color: var(--cream);
    font-weight: bolder;
}

.toolbar a:hover {
    color: #700508;
}

.menu {
    display: none;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: var(--cream);
    margin-bottom: 4px;
}

@media all and (max-width: 1040px) {
    .toolbar {
        flex-direction: column;
    }

    .logo-container {
        position: sticky;
    }

    .nav-list {
        list-style-type: none;
        width: 150px;
        text-align: right;
        display: none;
        position: absolute;
        right: 5px;
    }

    .nav-list .list-item {
        display: inline-block;
        padding: 10px;
    }

    .toolbar a {
        text-decoration: none;
        color: var(--cream);
        font-weight: bolder;
    }

    .toolbar a:hover {
        color: #700508;
    }

    .menu {
        display: block;
        position: absolute;
        right: 20px;
        cursor: pointer;
    }

    .nav-list .list-item {
        display: block;
    }

    .primary-icon {
        margin-top: 10px;
        margin-left: 10px;
    }

    .active {
        display: block;
        padding: 0;
    }

}