/* .footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding-bottom: 10px;
    text-align: center;
}

.footer-links {
    color: var(--blue);
}

.footer-links:hover {
    color: var(--yellow);
}

.fa-pulse-hover:hover {
    animation: pulse 1s ease-in-out infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
 */