.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
}

.hidden {
    display: none;
}

h1 {
    text-align: center;
    color: var(--blue);
    font-size: 50px;
    padding-bottom: 20px;
}

.contact {
    color: var(--turquoise);
    font-size: 50px;
}

.form-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

form {
    max-width: 500px;
    width: 100%;
    border: 2px solid var(--turquoise);
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    margin: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--blue);
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--turquoise);
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 20px 40px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: auto;
}

button:hover {
    background-color: #45a049;
}

.social-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

/* .success-message {
    color: var(--turquoise);
    text-align: center;
}
 */

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    h1,
    .contact {
        font-size: 30px;
    }

    .form-container {
        margin-top: 10px;
    }

    form {
        max-width: 300px;
    }

    .facebook {
        max-width: 100%;
        max-height: 100%;
    }

}