<div class="flex-containers">

    <div>
        <h1>Meet the Team</h1>
    </div>

    <div class="image-container box">
        <img src="assets/images/avatar.png" alt="photo">
        <figcaption>Jennifer Muckerman -<br/> Owner/Manager/COO</figcaption>
        <p>Jennifer has started 5 breweries, is a
            graduate of Siebel institute, and has a
            wealth of brewery/restaurant
            knowledge.</p>
    </div>
    <div class="image-container box">
        <img src="assets/images/avatar.png" alt="photo">
        <figcaption>Larry McCallister -<br/> Owner/Operator</figcaption>
        <p>Larry is an award winning
            homebrewer, a proven leader in
            nance, and a leader in the beer
            community of NWA.</p>
    </div>
    <div class="image-container box">
        <img src="assets/images/james.png" alt="photo">
        <figcaption>James Spurlin -<br/> Brewer</figcaption>
        <p>James is an award winning brewer
            with a heart for competition. He
            strives to be the best in everything he
            does.</p>
    </div>
    <div class="image-container box">
        <img src="assets/images/avatar.png" alt="photo">
        <figcaption>Nicole Muckerman -<br/> Manager</figcaption>
        <p>Nicole has 18 years experience as a House
            Manager/Nanny and 10 years experience
            as Retail Team Lead in Marketing,
            Firearm, and Payroll Departments.</p>
    </div>
    
</div>