<div class="event-container">

    <div class="event-image">
        <a href="https://www.gotrnwa.org/high-gravity">
            <img src="assets/images/homebrew-showcase.jpg">
        </a>
    </div>

    <div class="text">
        
        <p>A homebrew tasting & competition benefiting <a class="girls-on-the-run-link" href="https://www.girlsontherun.org/">Girls on the Run</a>. 
            <br>
            <br>
            <span style="color: #CA9629">Location:</span><a class="location-link" href="https://www.google.com/maps/place/First+National+Bank+of+NWA/@36.368005,-94.2110333,18.75z/data=!4m5!3m4!1s0x87c91a992a493d0d:0x73693bb718f06171!8m2!3d36.3679543!4d-94.2105382"> First National Bank of Northwest Arkansas<br>
                402 SW A St., Bentonville, AR 72712 </a>
            <br>
            <br>
            <span style="color: #CA9629">Time:</span> 6:30 - 9:00 pm
        </p>

    </div>
</div>
<div class="spacer"></div>

<div class="event-container">
    <div class="event-image">
        <img src="assets/images/coming-soon.png">
    </div>
    <div class="text">
        <p>We are currently planning a homebrew festival for Spring 2023. More details to come soon!</p>
    </div>
</div>