@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");


/* Global Styles */

body {
    background-color: var(--black);
    --yellow: #FCBD0B;
    --blue: #A5CBE1;
    --green: #018707;
    --black: #000000;
    --gray: #2e4756;
    --turquoise: #3cc4bf;
    --light-gray: #d3d3d3;
    font-family: "Montserrat", sans-serif;
}

