<body>

    <div class="grid-container">
        <div class="grid-item shadow">
            <img src="assets/images/pint.jpg" alt="Our Beers">
            <div class="text-overlay">
                <p><span class="line1">Our</span><span class="line2">Beers</span></p>
            </div>
        </div>

        <div class="grid-item shadow">
            <img src="assets/images/food.png" alt="Farm to Table">
            <div class="text-overlay">
                <p><span class="line1">Farm</span><span class="line2">to</span><span class="line3">Table</span></p>
            </div>
        </div>

        <div class="grid-item shadow">
            <img src="assets/images/event.jpg" alt="Upcoming Events">
            <div class="text-overlay">
                <p><span class="line1">Upcoming</span><span class="line2">Events</span></p>
            </div>
        </div>

        <div class="grid-item shadow">
            <img src="assets/images/construction.jpg" alt="Building Progress">
            <div class="text-overlay">
                <p><span class="line1">Building</span><span class="line2">Progress</span></p>
            </div>
        </div>

        <div class="grid-item shadow">
            <img src="assets/images/about.jpg" alt="About Us">
            <div class="text-overlay">
                <p><span class="line1">About</span><span class="line2">Us</span></p>
            </div>
        </div>

        <div class="grid-item shadow">
            <img src="assets/images/contact.jpg" alt="Contact Us">
            <div class="text-overlay">
                <p><span class="line1">Contact</span><span class="line2">Us</span></p>
            </div>
        </div>
    </div>

</body>