<body>

    <div class="gridContainer">

        <div class="grid">
            <div id="1" class="square shadow" data-id="square">
                <div class="imageContainer">
                    <img src="assets/images/pint.jpg">
                    <div class="imageCaption">
                        <h1>Our <br /> Beers</h1>
                    </div>
                </div>
            </div>

            <div id="2" class="square shadow" data-id="square">
                <div class="imageContainer">
                    <img src="assets/images/food.png">
                    <div class="imageCaption">
                        <h1>Farm <br /> to <br /> Table</h1>
                    </div>
                </div>
            </div>

            <div id="3" class="square shadow " data-id="square">
                <div class="imageContainer">
                    <img src="assets/images/event.jpg">
                    <div class="imageCaption">
                        <h1>Events</h1>
                    </div>
                </div>
            </div>

            <div id="4" class="square shadow" data-id="square">
                <div class="imageContainer">
                    <img src="assets/images/construction.jpg">
                    <div class="imageCaption">
                        <h1>Building <br /> Progress</h1>
                    </div>
                </div>
            </div>

            <div id="5" class="square shadow" data-id="square">
                <img src="assets/images/about.jpg">
            </div>

            <div id="6" class="square shadow" data-id="square">
                <img src="assets/images/contact.jpg">
            </div>
        </div>

    </div>

</body>